.navbar-social {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.8rem;
  position: absolute;
  right: 3rem;
  top: 0rem;
  
}

.navbar-social::before {
  content: "";
  width: 1px;
  height: 6rem;
  margin: auto;
  background-color: var(--color-fourth);
}

/* .round-background {
  display: flex;
  border-radius: 50%;
  padding: 5px;
  background-color: #003E59;
} */

.nav-soc-container {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.nav-soc-text-container {
  order: 0;
  display: flex;
  align-items: left;
  background-color: var(--color-white);
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  transition: all 0.3s ease-in-out;
}

.nav-soc-icon-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  background-color: #003E59;
}

/* .nav-soc-icon-container:hover + .nav-soc-text-container {
  width: 200px;
  border-radius: 1rem;
  background-color: #00707F;
} */